// Feature

.feature {
	display: flex;
	flex-direction: column;
	text-align: center;
	padding: 1.35rem 3rem;

	@include media-breakpoint-down(lg) {
		//margin-bottom: 2.5rem;
		width: 100%;
		display: block;
	}

	&__icon {
		flex: 1 0 auto;
		margin-bottom: 1rem;
	}
}