// Global styling for this template

.brands {
  padding-bottom: 1rem;
  @include media-breakpoint-up(lg) {
    padding-bottom: 6rem;
  }
}

.brand {
  padding-top: 2rem;
  padding-bottom: 2rem;
  @include media-breakpoint-up(lg) {
    padding-top: 3.5rem;
    padding-bottom: 3.5rem;
  }
}

.hire-us {
  a {
    font-size: 1.5rem;
  }
  .section--gray {
    @include media-breakpoint-down(md) {
      border-radius: 0;
    }
  }
}

.text-gray {color: $gray-dark;}

body,
html {
  width: 100%;
  height: 100%;
}

.btn {
  text-transform: uppercase;
  &.btn-sm{font-size: .875em;}

  &.btn-primary {color: $white;}
}

body {
  @include serif-font;
}

a {
  color: $primary;
  @include transition-all;
  font-weight: 600;
  font-size: .875em;
  &:hover {
    color: darken($primary, 25);
    text-decoration: none;
  }
  .icon {
    margin-left: 1rem;
    margin-right: .57em;
    vertical-align: baseline;
  }
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4
h5, .h5
h6, .h6{
  @include sans-serif-font;
  color: $black;
}

h1, .h1 {
  font-size: 2rem;
  font-weight: 600;
  @include media-breakpoint-up(lg) {font-size: 3.75rem;}
}

h2, .h2 {
  margin-bottom: 1rem;
  font-size: 2rem;
  @include media-breakpoint-up(lg) {
    margin-bottom: 2rem;
    font-size: 3rem;
  }
}

h6, .h6 {
  font-size: .875rem;
}

.bg-primary {
  background-color: $primary !important;
}

.bg-dark {
  background-color: darken($gray-800, 5%) !important;
}

.text-faded {
  color: fade-out($white, .3);
}

::-moz-selection {
  color: $white;
  background: $gray-900;
  text-shadow: none;
}

::selection {
  color: $white;
  background: $gray-900;
  text-shadow: none;
}

img::selection {
  color: $white;
  background: transparent;
}

img::-moz-selection {
  color: $white;
  background: transparent;
}

.triangle {
  background-image: url(../img/triangle.svg);
  background-repeat: no-repeat;
  background-position: 160% 0;
  background-size: 75%;
  @include media-breakpoint-up(lg) {
    background-position: top right;
    background-size: auto;
  }
}