// Styling for the navbar
#mainNav {
  background-color: $white;
  @include sans-serif-font;
  @include transition-all;
  .navbar-nav {
    > li.nav-item {
       > a.nav-link,
      > a.nav-link:focus {
        font-size: .9rem;
        font-weight: 700;
        text-transform: uppercase;
        color: $black;
        &:hover {
          color: $primary;
        }
        &.active {
          color: $primary !important;
          background-color: transparent;
          &:hover {
            background-color: transparent;
          }
        }
      }
    }
  }
  .navbar-toggler {border: none;}
  @include media-breakpoint-up(lg) {
    padding: 3.5rem 0;
  }
}
