@import "variables.scss";
@import "bootstrap/bootstrap.scss";
@import "mixins.scss";
@import "global.scss";
@import "components/section.scss";
@import "components/navbar.scss";
@import "components/masthead.scss";
@import "components/contact.scss";
@import "components/feature.scss";
@import "components/project.scss";

footer {
	padding: 2.5rem 0;

	a {padding: 0 .625rem;}
}

.technology {
	text-align: center;
	padding: 2.7rem 3rem 0;

	&__icon {
		height: 10rem;
		margin-bottom: 1rem;
		line-height: 10rem;
	}

	&__title {
		font-size: 1.4rem;
		color: $black;
	}

	&__description {
		padding-left: 1rem;
		padding-right: 1rem;
	}
}