@import "variables.scss";
@import "bootstrap/bootstrap.scss";
@import "mixins.scss";
@import "global.scss";
@import "custom.scss";
@import "components/section.scss";
@import "components/navbar.scss";
@import "components/masthead.scss";
@import "components/contact.scss";
@import "components/feature.scss";
@import "components/project.scss";

footer {
	padding: 2.5rem 0;

	a {padding: 0 .625rem;}
}

.technology {
	text-align: center;
	padding: 1.7rem 2.75rem 0;
	@include media-breakpoint-up(lg) {
	padding: 2.7rem 3rem 0;	
	}

	&__icon {
		height: 10rem;
		margin-bottom: 1rem;
		line-height: 10rem;
	}

	&__title {
		font-size: 1.4rem;
		color: $black;
	}

	&__description {
		padding-left: 1rem;
		padding-right: 1rem;
	}
}

.position {
	display: flex; 
	flex-direction: column;
	justify-content: space-between;
	color: $white;
	height: 25rem;
	padding: 1.5rem;
	text-align: left;
	background-color: rgba($white, .1);
	border-radius: $border-radius;

	&:hover {
		color: $white !important;
		text-decoration: none;
		background-color: rgba($white, .2);
	}

	@include media-breakpoint-up(lg) {
		height: 28.13rem;
		padding: 2rem;
	}

	&__title {
		margin-bottom: 1rem;
		font-size: 1.5rem;
		line-height: 1.33;

		@include media-breakpoint-up(lg) {
			margin-bottom: 2rem;
			font-size: 2rem;
			line-height: 1.25;
		}
	}

	&__skills {
		font-size: 1rem;
		line-height: 1.5;
		opacity: .8;
	}

	&__type {
		font-size: 1rem;
		line-height: 1.5;
		margin-bottom: 1rem;
	}

	&__location {
		opacity: .5;
	}	
}