<div class="section container brands">
    <div class="col-8 offset-2 col-md-12 offset-md-0 col-lg-10 offset-lg-1">
        <p class="h6 text-center text-uppercase font-weight-bold mb-3 mb-lg-5">
            Some of brands we are working with
        </p>
        <div class="row justify-content-center text-center">
            <div class="col-sm-6 col-md-4 brand">
                <img src="img/brands/kia-motors.svg" alt="kia motors logo" />
            </div>
            <div class="col-sm-6 col-md-4 brand">
                <img src="img/brands/philips.jpg" alt="philips logo" />
            </div>
            <div class="col-sm-6 col-md-4 brand">
                <img src="img/brands/nike.jpg" alt="nike logo" />
            </div>
            <div class="col-sm-6 col-md-4 brand">
                <img src="img/brands/milka.jpg" alt="milka logo" />
            </div>
            <div class="col-sm-6 col-md-4 brand">
                <img src="img/brands/coca-cola.jpg" alt="coca-cola logo" />
            </div>
            <div class="col-sm-6 col-md-4 brand">
                <img src="img/brands/google.jpg" alt="google logo" />
            </div>
            <div class="col-sm-6 col-md-4 brand">
                <img src="img/brands/github.jpg" alt="github logo" />
            </div>
            <div class="col-sm-6 col-md-4 brand">
                <img src="img/brands/dropbox.jpg" alt="dropbox logo" />
            </div>
            <div class="col-sm-6 col-md-4 brand">
                <img src="img/brands/mc.jpg" alt="mailchimp logo" />
            </div>
        </div>
    </div>  
</div>