<section class="hire-us">
    <div class="section--gray container d-flex justify-content-center">
        <div class="my-auto text-center">
            <p class="h1">Want to hire us?</p>
            <a href="mailto:hello@webscope.cz">hello@webscope.cz</a>
        </div>
    </div>
</section>

<footer class="text-white">
    <div class="container">
        <div class="text-center">
            <a href="https://www.facebook.com/" target="_blank">
                <img class="icon"
                     src="img/facebook.svg"
                     alt="facebook"/>
            </a>
            <a href="#" target="_blank">
                <img class="icon"
                     src="img/twitter.svg"
                     alt="twitter"/>
            </a>
            <a href="#" target="_blank">
                <img class="icon"
                     src="img/linkedin.svg"
                     alt="linkedin"/>
            </a>
        </div>
    </div>
</footer>


<!-- Bootstrap core JavaScript -->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Plugin JavaScript -->
<script src="vendor/jquery-easing/jquery.easing.min.js"></script>
<script src="vendor/scrollreveal/scrollreveal.min.js"></script>
<script src="vendor/magnific-popup/jquery.magnific-popup.min.js"></script>

<!-- Custom scripts for this template -->
<script src="js/creative.min.js"></script>