<nav class="navbar navbar-expand-xs navbar-light" id="mainNav">
    <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="index.html">
            <img class="logo logo--black" src="img/logo.svg" alt="Webscope Logo" />
            <img class="logo logo--white" src="img/logo-white.svg" alt="Webscope Logo white" />
        </a> 
        <span class="navbar-title">@@title</span>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="line"></span>
            <span class="line"></span>
            <span class="line"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto justify-content-center">
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger @@if (active === 'index') {active}" href="index.html">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger @@if (active === 'process') {active}" href="process.html">Our process</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger @@if (active === 'works') {active}" href="works.html">Works</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger @@if (active === 'about') {active}" href="about.html">About us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger @@if (active === 'blog') {active}" href="blog.html">Blog</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger @@if (active === 'contact') {active}" href="contact.html">Contact</a>
                </li>
            </ul>
        </div>
    </div>
</nav>