<section class="custom-components container section @@class">
    <div class="row justify-content-center">
        <div class="col-11 col-md-9 col-lg-7 col-xl-5 text-center">
            @@if (icon !== "") {
	            <div class="section__icon">
	                <img src="@@icon">
	            </div>
	        }
            <h2 class="section__heading section__heading">@@heading</h2>
            <p class="section__text">
                @@text
            </p>
        </div>
    </div>
</section> 