// Styling for the masthead
.hero {
  position: relative;
  overflow: hidden;
  padding-top: 6rem;
  padding-bottom: 6rem;

  @include media-breakpoint-up(lg) {
    padding-top: 13.3rem;
    padding-bottom: 13.3rem;
  }
  
  &--masthead {
    padding-top: 10rem;
    padding-bottom: calc(10rem - 56px);
    @include media-breakpoint-up(md) {
      border-radius: $border-radius;
    }
  }

  &__background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; 
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }    
  }

  &__content {
    width: 100%;
  }

  &__heading {
    margin-bottom: 1rem;
    line-height: 1;
  }

  &__text {
    margin: 0 auto;    
    font-size: 1rem;
    line-height: 1.5em;
    @include media-breakpoint-up(md) {width: 60%;}
    @include media-breakpoint-up(lg) {font-size: 1.25rem;}
  }

  @include media-breakpoint-up(md) {
    padding-left: 4rem;
    padding-right: 4rem;
    &__text {
      margin-left: 0;
      margin-bottom: 2.5rem;
    }
  }

  @include media-breakpoint-up(lg) {
    padding-left: 6.8rem;
    padding-right: 6.8rem;
    &__heading {
      margin-bottom: 2rem;
    }
  }
}