// Technology

.technology {
	text-align: center;
	padding: 1.7rem 2.75rem 0;
	@include media-breakpoint-up(lg) {
	padding: 2.7rem 3rem 0;	
	}

	&__icon {
		height: 10rem;
		margin-bottom: 1rem;
		line-height: 10rem;
	}

	&__title {
		font-size: 1.4rem;
		color: $black;
	}

	&__description {
		padding-left: 1rem;
		padding-right: 1rem;
	}
}